<section class="submit-request-page">
  <div class="container">
    <h1>
      {{t 'submit_a_request'}}
      <span class="follow-up-hint">
        {{follow_up}}
      </span>
    </h1>
    <div id="main-content" class="form">
      {{request_form wysiwyg=true}}
    </div>
  </div>
</section>